[user]
  name = Michael Graczyk
  email = michael@mgraczyk.com
[pull]
  rebase = true
[rebase]
  autoStash = true
  updateRefs = true
[alias]
  ws = rebase --whitespace=fix --no-update-refs
  so = status -uno
  lol = log --graph --decorate --pretty=oneline --abbrev-commit
  lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
  amend = commit -a --amend --no-edit
  ls-u = diff --name-only --diff-filter=U
[http]
  cookiefile = /Users/mgraczyk/.gitcookies
[filter "lfs"]
  process = git-lfs filter-process
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
[advice]
  skippedCherryPicks = false
[column]
  ui = auto
[branch]
  sort = -committerdate
[tag]
  sort = version:refname
[init]
  defaultBranch = main
[diff]
  algorithm = histogram
  colorMoved = plain
  mnemonicPrefix = true
  renames = true
[push]
  default = simple
  autoSetupRemote = true
  followTags = true
[fetch]
  prune = true
  pruneTags = true
  all = false
[help]
  autocorrect = prompt
[rerere]
  enabled = true
  autoupdate = true
[core]
	commitGraph = true
[gc]
	writeCommitGraph = true
