[user]
  name = Michael Graczyk
  email = michael@mgraczyk.com
  signingkey = 05B3B5CA47E136A1
[pull]
	rebase = true
[rebase]
	autoStash = true
[alias]
  ws = rebase --whitespace=fix
  so = status -uno
  lol = log --graph --decorate --pretty=oneline --abbrev-commit
  lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
  amend = commit -a --amend --no-edit
  ls-u = diff --name-only --diff-filter=U
[http]
	cookiefile = /Users/mgraczyk/.gitcookies
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[advice]
	skippedCherryPicks = false
