# Vim undo history
*.un~

# Any temp file
*~

# Vbox's special files
.vboxclient*

id_rsa
*.pem

# Specific Files and Directories
*.json
*.png
*.swp
.*_history
.*.backup
.CFUserTextEncoding
.DS_Store
.ICEauthority
.Xauthority
.android/
.async_memoize/
.atom/
.aws/
.aztfexport/
.azure/
.bash_sessions/
.bashrc_local
.bigqueryrc
.bigqueryrc/
.bundle/
.cache
.cargo/
.cinnamon/
.claude/statsig
.cloudflared/
.conda/
.config/**
.cursor-tutor/
.cursor/
.dbus
.debug/
.docker/
.emacs
.fbchef/
.gitcookies
.gnome/
.gnupg/
.google-cloud-sdk/
.googlekeys
.icedtea
.inshellisense/
.java
.keras/
.kshrc
.kube/
.leon/
.lesshst
.local
.m2
.marks
.matplotlib/
.most-recently-activated-cluster
.mongodb/
.mozilla/
.netrc
.npm-global/
.npm/
.nv 
.nvidia-settings-rc
.nvm/
.octave_hist
.pip
.pki
.pnpm-state/
.profile
.pulse-cookie
.pulsecookie
.pyhistory
.python_history
.rustup/
.sqlite_history
.ssh/*id_*
.ssh/authorized_keys
.ssh/google_compute*
.ssh/id*
.ssh/known_hosts
.ssh/sk-passwords
.sso/
.ssr/
.steam/
.steampath
.steampid
.streamlit/
.sudo_as_admin_successful
.swp
.swt
.terraform.d/
.thumbnails
.thunderbird/
.vim/.netrwhist
.vim/.venv/
.vim/undo/
.vim/view
.viminfo
.vscode/
.wasmer/
.xsession*
.yarn/
.yarnrc
.zcompdump
Videos/
code/
dev/
snap/
src

# Random macOS stuff
Applications/
Desktop/
Downloads/
Documents/
Movies/
Music/
Pictures/
Public/
Library/
.Trash/
