[submodule "scripts/.dircolors"]
	path = scripts/.dircolors
	url = https://github.com/seebi/dircolors-solarized.git
[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/pack/plugins/start/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/nerdcommenter"]
	path = .vim/pack/plugins/start/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule ".vim/bundle/MatchTag"]
	path = .vim/bundle/MatchTag
	url = https://github.com/gregsexton/MatchTag.git
[submodule "Gdbinit"]
	path = Gdbinit
	url = https://github.com/gdbinit/Gdbinit
[submodule ".config/Gdbinit"]
	path = .config/Gdbinit
	url = https://github.com/gdbinit/Gdbinit
[submodule ".config/intellij-colors-solarized"]
	path = .config/intellij-colors-solarized
	url = https://github.com/jkaving/intellij-colors-solarized.git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/pack/plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".matlab/solarized-matlab"]
	path = .matlab/solarized-matlab
	url = https://github.com/benhager/solarized-matlab.git
[submodule ".vim/bundle/vim-clang-format"]
	path = .vim/pack/plugins/start/vim-clang-format
	url = https://github.com/rhysd/vim-clang-format.git
[submodule "/Users/mgraczyk/.vim/bundle/vim-solidity"]
	path = /Users/mgraczyk/.vim/bundle/vim-solidity
	url = https://github.com/tomlion/vim-solidity.git
[submodule ".vim/bundle/fzf.vim"]
	path = .vim/bundle/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule ".vim/bundle/rust.vim"]
	path = .vim/bundle/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
[submodule "/home/ubuntu/.vim/pack/plugins/start/vim-gofmt"]
	path = .vim/pack/plugins/start/vim-gofmt
	url = https://github.com/darrikonn/vim-gofmt.git
[submodule ".vim/pack/typescript/start/typescript-vim"]
	path = .vim/pack/typescript/start/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
