# Vim undo history
*.un~

# Any temp file
*~

# Vbox's special files
.vboxclient*

# Specific Files and Directories
Downloads
.bash_history
.cache
.dbus
.config/chromium
.icedtea
.java
.lesshst
.local
.m2
.marks
.octave_hist
.pki
.viminfo
.vim/view
.ssh/id_rsa*
.ssh/known_hosts
.swp
.swt
.sqlite_history
.thumbnails
.pip
.googlekeys
.python_history
.netrc
.gitcookies
