# Vim undo history
*.un~

# Any temp file
*~

# Vbox's special files
.vboxclient*

id_rsa
*.pem

# Specific Files and Directories
.aws/
.bashrc_local
.cache
.dbus
.cargo/
.config/**
.icedtea
.java
.lesshst
.local
.m2
.marks
.octave_hist
.pki
.viminfo
.vim/view
.vim/.netrwhist
.ssh/id*
.ssh/known_hosts
.ssh/authorized_keys
.ssh/sk-passwords
.ssh/google_compute*
.sso/
.swp
.swt
.sqlite_history
.thumbnails
.pip
.googlekeys
.python_history
.netrc
.gitcookies
.Xauthority
.xsession*
.*_history
.pyhistory
.fbchef/
.atom/
.android/
.steam/
.npm/
.mozilla/
.rustup/
.DS_Store
.CFUserTextEncoding
.emacs
.profile
.kshrc
.cinnamon/
dev
.yarnrc
.bundle/
.keras/
.nv 
.ICEauthority
.gnome/
.debug/
.nvidia-settings-rc
snap/
.steampath
.steampid
.pulsecookie
*.swp
.pulse-cookie
.conda/
.sudo_as_admin_successful
.nvm/
.npm-global/
.google-cloud-sdk/
.thunderbird/
.terraform.d/
.ssh/*id_*
.docker/
.vscode/
.cursor/
.cursor-tutor/
.bigqueryrc/
.aztfexport/
.vim/.venv/
.vim/undo/
.matplotlib/
.cloudflared/
.bigqueryrc
.pnpm-state/
.ssr/
Videos/

# Random macOS stuff
Applications/
Desktop/
Downloads/
Documents/
Movies/
Music/
Pictures/
Public/
Library/
.Trash/
