[submodule "scripts/.dircolors"]
	path = scripts/.dircolors
	url = https://github.com/seebi/dircolors-solarized.git
[submodule ".vim/bundle/vim-pathogen"]
	path = .vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/nerdcommenter"]
	path = .vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule ".vim/bundle/MatchTag"]
	path = .vim/bundle/MatchTag
	url = https://github.com/gregsexton/MatchTag.git
[submodule "Gdbinit"]
	path = Gdbinit
	url = https://github.com/gdbinit/Gdbinit
[submodule ".config/Gdbinit"]
	path = .config/Gdbinit
	url = https://github.com/gdbinit/Gdbinit
