! Solarized color scheme for the X Window System
!
! http://ethanschoonover.com/solarized


! Common

#define S_yellow        #b58900
#define S_orange        #cb4b16
#define S_red           #dc322f
#define S_magenta       #d33682
#define S_violet        #6c71c4
#define S_blue          #268bd2
#define S_cyan          #2aa198
#define S_green         #859900


! Dark

#define S_base03        #002b36
#define S_base02        #073642
#define S_base01        #586e75
#define S_base00        #657b83
#define S_base0         #839496
#define S_base1         #93a1a1
#define S_base2         #eee8d5
#define S_base3         #fdf6e3


! Light

! #define S_base03        #fdf6e3
! #define S_base02        #eee8d5
! #define S_base01        #93a1a1
! #define S_base00        #839496
! #define S_base0         #657b83
! #define S_base1         #586e75
! #define S_base2         #073642
! #define S_base3         #002b36


! To only apply colors to your terminal, for example, prefix
! the color assignment statement with its name. Example:
!
! URxvt*background:            S_base03

*background:              S_base03
*foreground:              S_base0
*fading:                  40
*fadeColor:               S_base03
*cursorColor:             S_base1
*pointerColorBackground:  S_base01
*pointerColorForeground:  S_base1

*color0:                  S_base02
*color1:                  S_red
*color2:                  S_green
*color3:                  S_yellow
*color4:                  S_blue
*color5:                  S_magenta
*color6:                  S_cyan
*color7:                  S_base2
*color8:                  S_base03
*color9:                  S_orange
*color10:                 S_base01
*color11:                 S_base00
*color12:                 S_base0
*color13:                 S_violet
*color14:                 S_base1
*color15:                 S_base3

*VT100.Translations: #override \
Ctrl <Btn4Down>: larger-vt-font() \n\
Ctrl <Btn5Down>: smaller-vt-font() \n\
Shift Ctrl <Key>=: larger-vt-font() \n\
Shift Ctrl <Key>-: smaller-vt-font() 

*VT100*translations: #override \
Shift Alt <Btn1Up>: exec-formatted("google-chrome '%t'", PRIMARY)

Rxvt.font: xft:consolas:size=11:antialias=true
Rxvt.antialias: true
Rxvt.rgba: rgb
Rxvt.hinting: true
Rxvt.hintstyle: hintfull
URxvt.font: xft:consolas:size=11:antialias=true
URxvt.antialias: true
URxvt.rgba: rgb
URxvt.hinting: true
URxvt.hintstyle: hintfull

URxvt.urgentOnBell: true
URxvt.scrollBar: false

URxvt.perl-ext:
URxvt.perl-ext-common:

Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.antialias:	true
Xft.rgba:		rgb
Xft.hinting:	true
Xft.hintstyle:	hintfull
Xft.dpi: 102

!!!!!!!!!
! XTerm !
!!!!!!!!!

! File Selection
XTerm*charClass: 33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48
UXTerm*charClass: 33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48
XTerm*on3Clicks: regex ([[:alpha:]]+://)?([[:alnum:]!#+,./=?@_~-]|(%[[:xdigit:]][[:xdigit:]]))+
UXTerm*on3Clicks: regex ([[:alpha:]]+://)?([[:alnum:]!#+,./=?@_~-]|(%[[:xdigit:]][[:xdigit:]]))+
	
*utf8:		true
*faceName: xft:consolas
*faceSize: 11

*faceSize1:    9
*faceSize2:    11
*faceSize3:    12
*faceSize4:    13
*faceSize5:    15
*faceSize6:    24

XTerm*bellIsUrgent: true
XTerm*borderWidth: 3
UXTerm*borderWidth: 3
XTerm*internalBorder: 3
UXTerm*internalBorder: 3
